.purple-box {
  background-color: purple;
  height: 400px;
}

.yellow-box {
  background-color: yellow;
  height: 400px;
}

.red-box {
  background-color: red;
  height: 400px;
}

.blue-box {
  background-color: blue;
  height: 400px;
}

.green-box {
  background-color: green;
  height: 400px;
}